body {	
	margin: 0;
	border-bottom: 1px solid transparent;
	background: transparent;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: scroll;
	background-repeat: no-repeat;
	//padding-left:15%;
	//padding-right:15%;
	//padding-top: 10%;
}
