
nav span {
  font-weight: 600;
  letter-spacing: .085em;
}

nav.scroll {
  background-color: #000;
  color: #eef;
  opacity: 1;
}

.sticky-bar-admin{
	background-color : red;
	opacity: 0.8;	
}

nav{
	position: fixed;
	background: grey;
	
	z-index: 9999;
	top: 0;
	left: 0;
	transition: background-color 0.4s ease-out;
	background-repeat: no-repeat;
	width: 100%;
	height: 52px;	
}
.active
 { 
 background: #FFFFFF;
 }
.div1 > a:link, .div1 > a:visited{
	text-decoration: none;
	color:white;
	transition: .25s ease-in-out;
}
.div2 > a:link, .div2 > a:visited{
	text-decoration: none;
	color:white;
	transition: .25s ease-in-out;
}
.div1 {
	font-size: 25px;
	
	padding: 10px 20px;
	display: table-cell;
	width: 100%;
	font-weight: 800;
}
.nav-link{
	padding: 10px 20px;
}
.div2{
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform:uppercase;
	font-weight: 800;
	display: table-cell;
	white-space: nowrap;
}

.div1 > a:focus,.div1 > a:hover {
    color: #FF1493;
  }
.div2 > a:focus,.div2 > a:hover {
    color: #FFA500;
  }
  

