	.sticky-bar-admin{
	background-color : red;
	opacity: 0.8;	
}

.h1block{
	font-weight: 800;
	color: Gainsboro;
	text-shadow: 2px 2px #000;
}
body {	
margin: 0;
	border-bottom: 1px solid transparent;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: scroll;
	background-repeat: no-repeat;
}

.content{
	margin-top: 10px;
}
nav{
	position: fixed;
	background: transparent;
	z-index: 9999;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 50px;	
	opacity: 0.7;	
}
.active {
    color: white;
}

.div1 > a:link, .div1 > a:visited{
	text-decoration: none;
	color:white;
	transition: .25s ease-in-out;
}
.div2 > a:link, .div2 > a:visited{
	text-decoration: none;
	color:white;
	transition: .25s ease-in-out;
}
.div1 {
	color: white;
	font-size: 25px;
	text-transform:uppercase;
	padding: 10px 20px;
	display: table-cell;
	width: 100%;
	font-weight: 800;
}
.nav-link{
	padding: 10px 20px;
}
.div2{
	color: white;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform:uppercase;
	padding: 10px 20px;
	font-weight: 800;
	display: table-cell;
	white-space: nowrap;
}

.div1 > a:focus,.div1 > a:hover {
    color: #FF1493;

  }
.div2 > a:focus,.div2 > a:hover {
    color: #FF1493;
  }
  
header.masthead {
  margin-bottom: 50px;
  padding: .2em 2em;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
	
  color: black;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
	padding-right: 30px;
	padding-left:30px
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 45px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

