body {
  font-size: 20px;
  color: #212529;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.div-ruler { 
	border: 0;
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
.post-preview{
	padding-left:15%;
	padding-right:15%;
}
a{
	text-decoration:none;
}
.post-title {	
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-meta > a:hover {
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

